extends layout

block subhead
  .jumbotron
    h1 2014 Imperial College Computing Student Workshop
    p.lead September 25-26, 2014 London, United Kingdom
    p
      img(src='img/acmchapter.png', height='100')

block content
  .node!= page.html
